<h3>不同状态</h3>
<input type='text' class='sui-input' value='input' />
<input type='text' class='sui-input success' value='success' />
<input type='text' class='sui-input error' value='error' />
<input type='text' class='sui-input warning' value='warning' />
<input type='text' class='sui-input info' value='info' />

<h3>不同大小</h3>
<input type='text' class='sui-input-xlarge' value='input' />
<input type='text' class='sui-input-large' value='input' />
<input type='text' class='sui-input' value='input' />
<input type='text' class='sui-input-small' value='input' />
<input type='text' class='sui-input-min' value='input' />

<h3>功能</h3>
<input type="text" class='sui-input sui-input-date' value='input-date' />

<h3>control</h3>
<p>TODO:封装还不完善</p>
<div class='sui-input-control'>
<input type='text' class='sui-input success' value='input' />
<span class="sui-tip-min success"><i class="sui-icon"></i> <span>成功！</span></span>
</div>
<div class='sui-input-control'>
<input type='text' class='sui-input error' value='input' />
<span class="sui-tip-min error"><i class="sui-icon"></i> <span>失败！</span></span>
</div>
<div class='sui-input-control'>
<input type='text' class='sui-input warning' value='input' />
<span class="sui-tip-min warning"><i class="sui-icon"></i> <span>警告！</span></span>
</div>
<div class='sui-input-control'>
<input type='text' class='sui-input info' value='input' />
<span class="sui-tip-min info"><i class="sui-icon"></i> <span>提示！</span></span>
</div>

<h3>simple Text</h3>
<span class="sui-text-success">text success</span>
<span class="sui-text-warning">text warning</span>
<span class="sui-text-error">text error</span>
<span class="sui-text-info">text info</span>
