<i class='sui-icon-success'></i>
<i class='sui-icon-error'></i>
<i class='sui-icon-light'></i>
<i class='sui-icon-question'></i>
<i class='sui-icon-info'></i>
<i class='sui-icon-forbidden'></i>
<i class='sui-icon-sound'></i>
<i class='sui-icon-bell'></i>
<i class='sui-icon-success-s'></i>
<i class='sui-icon-error-s'></i>
<i class='sui-icon-light-s'></i>
<i class='sui-icon-question-s'></i>
<i class='sui-icon-info-s'></i>
<i class='sui-icon-forbidden-s'></i>
<i class='sui-icon-sound-s'></i>
<i class='sui-icon-bell-s'></i>
