<h2>SUI Docs</h2>
<p>
    直接引入css和js文件即可
</p>
<h3>btn</h3>
<iframe src='btn.html'></iframe>
<a target="_blank" href='btn.html'>查看</a>
<h3>icon</h3>
<iframe src='icon.html'></iframe>
<a target="_blank" href='icon.html'>查看</a>
<h3>tab</h3>
<iframe src='tab.html'></iframe>
<a target="_blank" href='tab.html'>查看</a>
<h3>table</h3>
<iframe src='table.html'></iframe>
<a target="_blank" href='table.html'>查看</a>
<h3>tip</h3>
<iframe src='tip.html'></iframe>
<a target="_blank" href='tip.html'>查看</a>
<h3>form</h3>
<iframe src='forms.html'></iframe>
<a target="_blank" href='forms.html'>查看</a>
<h3>labels</h3>
<iframe src='labels.html'></iframe>
<a target="_blank" href='labels.html'>查看</a>
<h3>labels</h3>
<iframe src='placeholder.html'></iframe>
<a target="_blank" href='placeholder.html'>查看</a>
