<h3>labels</h3>
<span class="sui-label sui-label-important">标签</span>
<span class="sui-label sui-label-success">标签</span>
<span class="sui-label sui-label-warning">标签</span>
<span class="sui-label sui-label-info">标签</span>
<span class="sui-label sui-label-inverse">标签</span>

<h3>text color</h3>
<span class="sui-text-success">text success</span>
<span class="sui-text-warning">text warning</span>
<span class="sui-text-error">text error</span>
<span class="sui-text-info">text info</span>
