<span class="sui-label sui-label-important">标签</span>
<span class="sui-label sui-label-success">标签</span>
<span class="sui-label sui-label-warning">标签</span>
<span class="sui-label sui-label-info">标签</span>
<span class="sui-label sui-label-inverse">标签</span>
