<ul class='sui-tab-min'>
    <li><a href="#">项目一</a></li>
    <li class='active'><a href="javascript:void(0);">项目一</a></li>
    <li><a href="#">项目一</a></li>
</ul>
<ul class='sui-tab'>
    <li><a href="#">项目一</a></li>
    <li class='active'><a href="javascript:void(0);">项目一</a></li>
    <li><a href="#">项目一</a></li>
</ul>
