<div class="sui-tip-min success">
    <i class='sui-icon'></i>
    <span>成功消息！</span>
</div>
<div class="sui-tip-min error">
    <i class='sui-icon'></i>
    <span>失败消息!</span>
</div>
<div class="sui-tip-min warning">
    <i class='sui-icon'></i>
    <span>警告消息！</span>
</div>
<div class="sui-tip-min info">
    <i class='sui-icon'></i>
    <span>提示消息！</span>
</div>
<div class="sui-tip-large success">
    <i class='sui-icon'></i>
    <div class='sui-tip-inner'>
        <h3>成功成功！</h3>
        这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容
    </div>
</div>
<div class="sui-tip-large error">
    <i class='sui-icon'></i>
    <div class='sui-tip-inner'>
        <h3>错误错误！</h3>
        这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容
    </div>
</div>
<div class="sui-tip-large warning">
    <i class='sui-icon'></i>
    <div class='sui-tip-inner'>
        <h3>警告警告！</h3>
        这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容
    </div>
</div>
<div class="sui-tip-large info">
    <i class='sui-icon'></i>
    <div class='sui-tip-inner'>
        <h3>提示提示！</h3>
        这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容这里是消息内容
    </div>
</div>
