.icon-error-s,
.icon-error,
.icon-success-s,
.icon-success,
.icon-light-s,
.icon-light,
.icon-question-s,
.icon-question,
.icon-info,
.icon-info-s,
.icon-sound-s,
.icon-sound,
.icon-bell-s,
.icon-bell,
.icon-forbidden-s,
.icon-forbidden,
{
    display: inline-block;
    background: url("http://a.tbcdn.cn/apps/tmall/mui/msg/img/msg.png") no-repeat;
    background-position: -64px -29px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.icon-error {
    background-position: -1px -32px;
    width: 32px;
    height: 32px;
}
.icon-question {
    background-position: 0 -226px;
    width: 32px;
    height: 32px;
}

.icon-light {
    background-position: -5px -126px;
    width: 24px;
    height: 32px;
}
.icon-success {
    background-position: -1px -78px;
    width: 32px;
    height: 32px;
}
.icon-info {
    background-position: -1px -177px;
    width: 32px;
    height: 32px;
}
.icon-forbidden {
    background-position: -1px -375px;
    width: 32px;
    height: 32px;
}
.icon-sound {
    background-position: -1px -330px;
    width: 28px;
    height: 24px;
}
.icon-bell {
    background-position: -1px -277px;
    width: 32px;
    height: 32px;
}

.icon-error-s {
    background-position: -64px -29px;
}

.icon-question-s {
    background-position: -64px -129px;
}

.icon-success-s {
    background-position: -64px -54px;
}

.icon-light-s {
    background-position: -64px -106px;
}

.icon-info-s {
    background-position: -64px -82px;
}
.icon-forbidden-s {
    background-position: -64px -4px;
}
.icon-sound-s {
    background-position: -64px -181px;
    height: 13px;
}
.icon-bell-s {
    background-position: -64px -156px;
}

/*tmall & taobao icon*/
.icon-tmall,
.icon-taobao {
    background: url("http://www.taobao.com/favicon.ico") no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.icon-tmall {
    background: url("http://www.tmall.com/favicon.ico") no-repeat;
}
