.tip-min,
.tip-large
{
    border: 1px solid @color-border-success;
    background-color: @color-bg-success;
    &.error {
        color: #666;
        background-color: @color-bg-error;
        border-color: @color-border-error;
    }
        
    &.warning {
        background-color: @color-bg-warning;
        border-color: @color-border-warning;
    }
}
.tip-min {
    padding: 2px 10px 2px 5px;
    display: inline-block;
    &.error {
        color: #666;
        .icon-error-s {
            display: inline-block;
        }
    }
        
    &.warning {
        .icon-light-s {
            display: inline-block;
        }
    }
    .icon-error-s, .icon-success-s, .icon-light-s {
        display: none;
        vertical-align: -3px;;
    }

    .icon-success-s {
        display: inline-block;
    }
    span {
        vertical-align: 0;
    }
}

.tip-large {
    padding: 15px;
    font-size: 14px;
    p {
        margin: 10px 0 0 0;
    }
    a {
        font-size: 14px;
        margin-right: 10px;
    }
    &.success {
        .icon-success-l {
            display: inline-block;
        }
    }
    &.warning {
        .icon-light {
            display: inline-block;
        }
    }
    &.error {
        .icon-error {
            display: inline-block;
        }
    }
    .icon-light,
    .icon-success,
    .icon-error
    {
        float: left;
        display: none;
    }
    .tip-inner {
        margin-left: 45px;
        min-height: 30px;
    }
    h3 {
        margin: 0 0 10px 0;
    }
}
