.tip-min {
    padding: 2px 10px 2px 5px;
    border: 1px solid #37bd10;
    background-color: #effee5;
    display: inline-block;
    &.error {
        color: #666;
        background-color: #fff1f1;
        border-color: #c5302b;
        .icon-error-s {
            display: inline-block;
        }
    }
        
    &.warning {
        background-color: #ffffe4;
        border-color: #fbcc80;
        .icon-light-s {
            display: inline-block;
        }
    }
    .icon-error-s, .icon-success-s, .icon-light-s {
        display: none;
        vertical-align: -3px;;
    }

    .icon-success-s {
        display: inline-block;
    }
    span {
        vertical-align: 0;
    }
}

.tip-large {
    border: 1px solid #37bd10;
    padding: 15px;
    background: #effee5;
    font-size: 14px;
    p {
        margin: 10px 0 0 0;
    }
    a {
        font-size: 14px;
        margin-right: 10px;
    }
    &.success {
        .icon-success-l {
            display: inline-block;
        }
    }
    &.warning {
        border-color: #fbcc80;
        background: #ffffe4;   
        .icon-light {
            display: inline-block;
        }
    }
    &.error {
        border-color: #ff807e;
        background: #fff3f3;
        .icon-error {
            display: inline-block;
        }
    }
    .icon-light,
    .icon-success,
    .icon-error
    {
        float: left;
        display: none;
    }
    .tip-inner {
        margin-left: 45px;
        min-height: 30px;
    }
    h3 {
        margin: 0 0 10px 0;
    }
}
