.sui-tip-success {
    background-color: @tipSuccessBg;
    border-color: @tipSuccessBorder;
}
.sui-tip-error {
    background-color: @tipErrorBg;
    border-color: @tipErrorBorder;
}

.sui-tip-warning {
    background-color: @tipWarningBg;
    border-color: @tipWarningBorder;
}
.sui-tip-info {
    background-color: @tipInfoBg;
    border-color: @tipInfoBorder;
}

.sui-tip-min,
.sui-tip-large
{
    border: 1px solid @tipSuccessBorder;
    &.success {
        .sui-tip-success;
    }
    &.error {
        .sui-tip-error;
    }
        
    &.warning {
        .sui-tip-warning;
    }
    &.info {
        .sui-tip-info;
    }
}
.sui-tip-min {
    padding: 2px 10px 2px 5px;
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    &>.sui-icon {
        display: none;
    }
    &.error {
        >.sui-icon {
            .sui-icon-error-s;
            vertical-align: -3px; /*放在上面 优先级不够*/
        }
    }
        
    &.warning {
        > .sui-icon {
            .sui-icon-light-s;
            vertical-align: -3px; /*放在上面 优先级不够*/
        }
    }
    &.info {
        >.sui-icon {
            .sui-icon-info-s;
            vertical-align: -3px; /*放在上面 优先级不够*/
        }
    }
    &.success {
        > .sui-icon {
            .sui-icon-success-s;
            vertical-align: -3px; /*放在上面 优先级不够*/
        }
    }
    
    span {
        vertical-align: 0;
    }
}

.sui-tip-large {
    padding: 15px;
    margin: @comMargin 0;
    p {
        margin: 10px 0 0 0;
    }
    a {
        margin-right: 10px;
    }
    &.success {
        >.sui-icon {
            .sui-icon-success;
            display: inline-block;
        }
    }
    &.warning {
        >.sui-icon {
            .sui-icon-light;
            display: inline-block;
        }
    }
    &.error {
        >.sui-icon {
            .sui-icon-error;
            display: inline-block;
        }
    }
    &.info {
        >.sui-icon {
            .sui-icon-info;
            display: inline-block;
        }
    }
    &>.sui-icon {
        float: left;
        display: none;
    }
    .sui-tip-inner {
        margin-left: 45px;
        min-height: 30px;
    }
    h3 {
        margin: 0 0 10px 0;
    }
}
