<!DOCTYPE html>
<html>
    <head>
        <title>sui-icon-demo</title>
        <link rel="stylesheet" type="text/css" href="../src/css/app.css"></link>
        <link rel="stylesheet" type="text/css" href="demo.css"></link>
    </head>
    <body>
        <i class='sui-icon-success'></i>
        <i class='sui-icon-error'></i>
        <i class='sui-icon-light'></i>
        <i class='sui-icon-question'></i>
        <i class='sui-icon-info'></i>
        <i class='sui-icon-forbidden'></i>
        <i class='sui-icon-sound'></i>
        <i class='sui-icon-bell'></i>
        <i class='sui-icon-success-s'></i>
        <i class='sui-icon-error-s'></i>
        <i class='sui-icon-light-s'></i>
        <i class='sui-icon-question-s'></i>
        <i class='sui-icon-info-s'></i>
        <i class='sui-icon-forbidden-s'></i>
        <i class='sui-icon-sound-s'></i>
        <i class='sui-icon-bell-s'></i>
        <script src="http://localhost:8848/livereload.js"></script>
    </body>
</html>
